.container {
  padding: 50px;
  display: flex;
  gap: 5rem;
  height: 100%;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
}

.cartHeading {
  font-size: 2rem;
  color: rgb(80, 79, 79);
}
.imgContainer {
  width: 80%;
  height: 80%;
}

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.trTitle {
  background-color: #f3f3f3;
  font-size: 1.6rem;
  color: rgb(77, 77, 77);
}

.trTitle th:nth-child(2) {
  width: 250px;
}

.trTitle th:nth-child(4) {
  width: 130px;
}
.trTitle th:nth-child(7) {
  text-align: center;
}

.tr {
  text-align: center;
}

.name {
  font-weight: 500;
  color: #d1411e;
  font-size: 1.4rem;
}

.price {
  font-size: 1.5rem;
}

.quantity {
  display: flex;
  align-items: center;
}
.qtyIcon {
  color: #999;
  cursor: pointer;
  transition: all 0.3s ease;
}

.qtyIcon:hover {
  color: #d1411e;
}

.qtyNum {
  font-size: 1.3rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid #333;
  margin: 0 0.7rem;
}

.total {
  font-weight: 500;
  font-size: 1.5rem;
}

.wrapper {
  width: 90%;
  background-color: rgb(66, 66, 66);
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-size: 1.8rem;
}

.wrapper div {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.button {
  height: 4rem;
  color: #d1411e;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 2rem;
}

.noItem {
  font-size: 2.5rem;
  width: 50vw;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  color: #d1411e;
}
.noSummary > div {
  display: none;
}

.noSummary button {
  cursor: not-allowed;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }

  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .trTitle {
    display: none;
  }

  .tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .imgContainer {
    width: 30%;
    height: 30%;
  }

  .name,
  .total {
    font-size: 24px;
  }

  .extras,
  .price,
  .quantity {
    font-size: 22px;
  }

  .price::before {
    content: "Price: ";
    font-weight: 500;
  }
  .quantity::before {
    content: "Quantity: ";
    font-weight: 500;
  }
  .total::before {
    content: "Total: ";
    font-weight: 500;
  }

  .wrapper {
    width: 100%;
  }
}
