.productsContainer {
  height: calc(100% - 16rem);
  background-color: var(--hover-color);
  position: relative;
}

.wrapper {
  padding: 2rem 6rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.right {
  flex: 0.75;
  background-color: white;
  box-shadow: -2px 5px 13px -12px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;

}


.progress{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  align-self: center;
}


.fixedScroll{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 8.5rem;
  right: 3em;
  z-index: 99;
  height: 3.5rem;
  width: 4rem;
  padding: .7rem;
  background-color: white;
  border: 1.5px solid var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  color: var(--primary-color);
}