.productsContainer {
  height: calc(100% - 16rem);
  background-color: var(--hover-color);
}

.wrapper {
  padding: 2rem 6rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.right {
  flex: 0.75;
  background-color: white;
  box-shadow: -2px 5px 13px -12px rgba(0, 0, 0, 0.75);
  border-radius: 10px;


}
